    <div class="bg-gray-200">
        <header>
            <nav class="bg-gray border-gray-200 px-4 lg:px-6 py-2.5">
                <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a routerLink="/home" class="flex items-center">
                <img src="../../assets/image1.webp" class="mr-3 h-6 sm:h-9 w-16"/>
                <span class="self-center text-xl font-semibold whitespace-nowrap">Content Room</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a class="outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1.5" (click)="openDialog('0ms', '0ms','logout')">Logout</a>
            </div>
            <div class="justify-between items-center w-full lg:flex lg:w-auto lg:order-1" >
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                <li>
                    <a routerLink="/home" routerLinkActive="active" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Home</a>
                </li>
                <li>
                    <a routerLink="/blog" routerLinkActive="active" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Blog</a>
                </li>
                <li>    
                    <a routerLink="/Clients" routerLinkActive="active" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Clients</a>
                </li>
                <li>
                    <a routerLink="/team" routerLinkActive="active" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Team</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">Contact</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        </header>
    </div>
    