<div class="container-fluid w-full px-4">
    <nav class="relative py-4">
        <div class="flex flex-wrap items-center justify-between px-4">
            <div class="flex items-center">
                <form class="flex items-center">
                    <label for="simple-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor"
                                viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input type="text" id="simple-search" (keyup)="applyFilter($event)" placeholder="Search..."
                            #input [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2"
                            required="">
                    </div>
                </form>
            </div>
            <!-- Right elements -->
            <ul class="list-none ml-auto flex flex-row pl-0 md:pl-4" data-te-navbar-nav-ref>
                <li class="px-2" data-te-nav-item-ref>
                    <button type="button"
                        class="focus:outline-none text-gray-900  bg-white hover:bg-gray-100 border border-gray-300 font-medium rounded-lg text-sm">
                        <mat-form-field>
                            <mat-select [formControl]="toppings" multiple>
                                <mat-option *ngFor="let column of usersTableColumn" [value]="column"
                                    (onSelectionChange)="onChangeColumn($event, column)">{{column?.label}}</mat-option>
                                <button type="button"
                                    class="relative left-14	w-24 text-white bg-purple-700 hover:bg-purple-800 focus:outline-none  font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 inline-flex justify-center"
                                    (click)="disabledColumnField()">Apply</button>
                            </mat-select>
                        </mat-form-field>
                    </button>
                </li>
                <li class="px-2" data-te-nav-item-ref>
                    <button type="button"
                        class="focus:outline-none text-white bg-purple-500 hover:bg-purple-400  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
                        (click)="openManageRecords()">
                        <span>Manage Records</span>
                    </button>
                </li>
                <li class="relative px-2" data-te-dropdown-ref>
                    <button
                        class="text-white bg-green-800 hover:bg-green-900 focus:outline-none font-medium rounded-lg text-sm px-5 py-1.5 mt-0 mb-0"
                        (click)="AddNewRow()">
                        <mat-icon class="relative top-1 mr-2 m-0">add</mat-icon>
                        <span class="relative bottom-1">Add New Record</span>
                    </button>
                </li>
                <li class="relative px-2" data-te-dropdown-ref data-te-dropdown-alignment="end">
                    <button type="button" (click)="openDialog('0ms', '0ms','logout')"
                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1.5">
                        <mat-icon class="relative top-1 mr-2 m-0">logout</mat-icon>
                        <span class="relative bottom-1">Logout</span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <section class="overflow-auto">
        <button *ngIf="selection.hasValue()" (click)="openDialog('0ms', '0ms','remove')" type="button"
            class="relative left-11 focus:outline-none text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-1.5">{{selection.selected.length}}
            {{selection.selected.length < 2?'Row':'Rows'}} Delete</button>
                <form [formGroup]="VOForm" autocomplete="off" class="px-2 pt-2">
                    <ng-container formArrayName="VORows">
                        <app-table  [dataSource]="VOForm.get('VORows')?.value"  [displayedColumns]="displayedColumnsName" [selection]="selection"></app-table>
                    </ng-container>
                </form>
                <div *ngIf="isLoading" class="overlay">
                    <div style="display: flex; justify-content: center; align-items: center">
                        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
                    </div>
                </div>
                <mat-paginator class="pagination" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                    showFirstLastButtons>
                </mat-paginator>
    </section>
</div>