<div id="indicators-carousel" class="relative w-full" data-carousel="static">
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img src="../../assets/image1.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Up Coming Project..">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="../../assets/image1.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="../../assets/image2.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="../../assets/image3.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="../../assets/image1.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
  </div>
  <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 group-hover:bg-black/50">
          <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 group-hover:bg-black/50">
          <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>

<section class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 mt-20">
  <div class="cInnerContent">
    <h2 class="header-section gs_reveal ipsType_center text-4xl text-gray-800">Our Recent Blogs</h2>
    <div class="">
      <div class="text-center mb-16">
        <p class="header-section gs_reveal ipsType_center mt-4 text-gray-600">
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
        </p>
      </div>
  
      <div class="flex flex-wrap -mx-4">
        <div *ngFor="let blog of blogs" class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
          <div class="bg-white rounded-lg overflow-hidden shadow-lg hover:shadow-xl">
            <img [src]="blog.image" alt="Blog Image" class="w-full h-48 object-cover object-center">
            <div class="p-6">
              <span class="inline-block mb-2 text-xs font-semibold text-gray-600">{{ blog.date }}</span>
              <h3 class="mb-4 text-xl font-semibold">
                <a href="#" class="hover:text-primary">{{ blog.title }}</a>
              </h3>
              <p class="text-gray-700">{{ blog.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="features mt-20">
      <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
          <div class="card">
            <img width="479" src="../../assets/about.jpg" alt="">
          </div>
        </div>
  
        <div class="ipsGrid_span7 ipsType_left">
          <h2 class="heading_large gs_reveal">Space <strong>Owner</strong></h2>
          <p class="gs_reveal"><a href="">DrawSVGPlugin</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit veniam, velit tenetur dolorem fugit inventore officia architecto eligendi mollitia ullam labore totam molestias facilis fugiat. Magni facere ea excepturi aliquam!</p>
        </div>
      </div>
  
      <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
        <div class="ipsGrid_span7 ipsType_right">
          <h2 class="heading_large gs_reveal">5 Star  <strong>Hotel</strong></h2>
          <p class="gs_reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, repellat dolorum. Tempore eius laboriosam debitis, saepe quam, molestias ducimus amet consequatur vero perferendis qui, iure ratione doloremque officia a porro.</p>
        </div>
  
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
          <div class="card">
            <img width="479" src="https://picsum.photos/479/479?index=2" alt="">
          </div>
        </div>
      </div>
  
      <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
          <div class="card">
            <img width="479" src="https://picsum.photos/479/479?index=3" alt="">
          </div>
        </div>
  
        <div class="ipsGrid_span7 ipsType_left">
          <h2 class="heading_large gs_reveal">Space  <strong>Owner </strong> team</h2>
          <p class="gs_reveal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repudiandae! Eius rerum animi expedita minima non totam, consequuntur dignissimos perspiciatis facere dolores voluptate impedit aliquam, vel odio! Ipsum, quidem doloremque.</p>
        </div>
      </div>
  
      <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
        <div class="ipsGrid_span7 ipsType_right">
          <h2 class="heading_large gs_reveal"><strong>Teasting </strong> Team</h2>
          <p class="gs_reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam iure sapiente eum soluta! Inventore similique quas esse perspiciatis ducimus dolor quaerat, nihil dolores ut. Ipsa laboriosam vel officia ad.</p>
        </div>
  
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
          <div class="card">
            <img width="479" src="https://picsum.photos/479/479?index=4" alt="">
          </div>
        </div>
      </div>
      <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
          <div class="card">
            <img width="479" src="https://picsum.photos/479/479?index=1" alt="">
          </div>
        </div>
  
        <div class="ipsGrid_span7 ipsType_left">
          <h2 class="heading_large gs_reveal">Space <strong>Owner</strong></h2>
          <p class="gs_reveal"><a href="">DrawSVGPlugin</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit veniam, velit tenetur dolorem fugit inventore officia architecto eligendi mollitia ullam labore totam molestias facilis fugiat. Magni facere ea excepturi aliquam!</p>
        </div>
      </div>
  
      <div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
        <div class="ipsGrid_span7 ipsType_right">
          <h2 class="heading_large gs_reveal">Meeting Hall</h2>
          <p class="gs_reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, repellat dolorum. Tempore eius laboriosam debitis, saepe quam, molestias ducimus amet consequatur vero perferendis qui, iure ratione doloremque officia a porro.</p>
        </div>
  
        <div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
          <div class="card">
            <img width="479" src="https://picsum.photos/479/479?index=2" alt="">
          </div>
        </div>
      </div>
    </div>
  
  </div>


</section>



